.contact-us {
  background-color: #FFF;
}
.contact-us header > div {
  background-color: rgba(241, 241, 241, 0.5);
  height: 12rem;
  position: relative;
  top: 8rem;
  width: 15.8rem;
}
.contact-us > header p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 0 0 2rem;
  position: relative;
}
.contact-us > main h1 {
  border-bottom: 5px solid #000;
  font-family: 'Roboto';
  font-size: 2.2em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2em;
  margin-left: 2rem;
  margin-top: 5rem;
  padding-bottom: 0.5rem;
  position: relative;
  width: 16rem;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 2rem 2rem;
  position: relative;
}
.form input {
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  font-family: 'Cabin';
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2em;
  margin: 1rem 0;
  outline: none;
  padding-bottom: 0.5rem;
}
.form input:last-child {
  background-color: #21252C;
  border: none;
  border-radius: 50%;
  bottom: 1rem;
  color: white;
  height: 6rem;
  padding-top: 0.5rem;
  cursor: pointer;
  position: relative;
  left: 20rem;
  width: 6rem;
}
@media screen and (min-width: 55rem) {
  .contact-us header > div {
    height: 9rem;
    top: 2rem;
    text-align: center;
    width: 37rem;
  }
  .contact-us > header p {
    font-size: 2.5em;
    padding: 0 5rem;
    top: -5.5rem;
  }
  .contact-us > main h1 {
    font-size: 1.8em;
    margin-left: 3rem;
    position: absolute;
    top: 7rem;
    width: 11rem;
  }
  .form {
    display: grid;
    grid-gap: 10px;
    margin: 0 3rem;
  }
  .form input {
    font-size: 1em;
    margin: 2rem 2rem 0 0;
  }
  .project-about {
    grid-column: 1 / span 2;
  }
  .form input:last-child {
    grid-column: 2 / 2;
    bottom: 1rem;
    left: 17rem;
  }
}
