.footer {
  height: 100%;
}
.link, .footer-logo, .footer footer {
  position: absolute;
}
.link {
  display: flex;
  justify-content: space-between;
  margin: 12rem 0;
  width: 100%;
}
.explore ul, .social-media ul {
  margin: 1.5rem;
  padding: 0;
}
.explore li, .social-media li {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}
.explore a, .social-media a {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
  text-decoration: none;
}
.social-media h1, .social-media li {
  text-align: right;
}
.explore h1, .social-media h1 {
  color: #FFF;
  font-family: 'Cabin';
  font-size: 2.2em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  margin: 3rem 1.5rem;
}
.social-media li a {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.social-media img {
  height: auto;
  margin-right: .5rem;
  width: 2rem;
}
.explore li {
  margin: 2.7rem 0;
}
.footer-logo {
  background-color: yellow;
  bottom: 12rem;
  height: 6rem;
  width: 100%;
}
.footer footer {
  color: #FFF;
  bottom: 0;
  font-family: 'Cabin';
  font-size: 1.5em;
  font-style: normal;
  line-height: 1.2em;
  text-align: center;
  width: 100%;
}
.sk-footer {
  display: none;
}
@media screen and (min-width: 50rem) {
  .link {
    margin: 3rem;
    right: 0;
    width: 60%;
  }
  .footer {
    background-color: #21252C;
  }
  .sk-footer {
    color: #FFF;
    display: block;
    font-family: 'Cabin';
    font-size: 12rem;
    left: 4rem;
    position: absolute;
    top: 7rem;
  }
  .explore li {
    margin: 1.5rem 0;
  }
  .social-media li {
    margin: 1.7rem 0;
  }
  .social-media img {
    width: auto;
  }
  .footer-logo {
    bottom: 5rem;
    height: 3rem;
  }
  .footer footer {
    font-size: 1.2rem;
}
