.landing {
  height: 100%;
  width: 100%;
}
.main-text {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 17rem;
  width: 100%;
}
.main-text h1 {
  color: #FFF;
  font-family: 'Cabin', sans-serif;
  font-size: 5.5em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 3.3rem;
  padding: 0;
}
.button-footer {
  bottom: 5.5rem;
  display: flex;
  height: 4.6rem;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.button-footer div {
  align-items: center;
  background-color: #FFF;
  cursor: pointer;
  display: none;
  justify-content: center;
  position: relative;
}
.button-footer a {
  color: #21252C;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: -0.03em;
  line-height: 1.8em;
  text-decoration: none;
}
.menu-option a {
  font-family: 'Cabin';
}
.say-hello {
  border-radius: 50%;
  bottom: 12rem;
  display: flex!important;
  font-family: 'Open Sans', sans-serif;
  height: 11rem;
  width: 11rem;
}
.sk-word {
  color: #FFF;
  font-family: 'Play';
  font-size: 1.8rem;
  font-weight: normal;
  position: absolute;
  transform: rotate(-90deg);
  margin-left: -1rem;
  top: 16rem;
}
.sk-logo {
  color: #21252C;
  font-family: 'Open Sans', sans-serif;
  font-size: 17.5em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: rotate(7deg);
  top: -5rem;
  -webkit-text-stroke: 5px #292D33;
  z-index: 10;
}
.landing-social {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
}
.landing-social li {
  list-style: none;
  padding: .5rem;
}
.sk-word, .sk-logo {
  display: none;
}
@media screen and (min-width: 40rem) {
  .main-text {
    top: 6rem;
  }
  .main-text h1 {
    font-size: 6em;
  }
  .landing-social {
    display: flex;
  }
  .sk-logo {
    font-size: 12rem;
  }
}
@media screen and (min-width: 70rem) {
  .sk-word, .sk-logo {
    display: block;
  }
  .main-text h1 {
    margin-left: 15rem;
    padding-right: 20rem;
  }
  .button-footer {
    background-color: #FFF;
    bottom: 4rem;
    height: 3.5rem;
  }
  .button-footer div {
    display: flex;
    margin: 0 5%;
  }
  .button-footer a {
    font-size: 1.2rem;
  }
  .say-hello {
    background-color: #21252C!important;
    bottom: 2.5rem;
    height: 8.3rem;
    width: 8.3rem;
  }
  .say-hello a {
    color: #FFF;
    font-size: 1.3em;
  }
}
