.company-background {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.right-background {
  height: 100%;
  position: absolute;
  width: 50%;
  z-index: 2;
}
.left-background {
  background-color: white;
  height: 100%;
  margin-left: 50%;
  position: absolute;
  width: 50%;
  z-index: 1;
}
.image-company {
  position: absolute;
  right: 0;
  top: 16rem;
  z-index: 2;
}
.image-company img {
  height: auto;
  width: 27rem;
}
.text-company {
  background-color: rgba(54, 54, 54, 0.95);
  margin-right: 3rem;
  position: absolute;
  top: 22rem;
  z-index: 3;
}
.text-company p {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8em;
  margin-left: 3rem;
  margin-right: 3rem;
}
.text-company h1 {
  color: #FFF;
  border-bottom: 3px solid #FFF;
  font-family: 'Cabin';
  font-size: 3.4em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  margin: 1rem 4rem;
  padding: 1rem 0rem;
}
.join-us {
  align-items: center;
  background-color: #FFF;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 10rem;
  justify-content: center;
  left: 3rem;
  position: absolute;
  top: 46rem;
  width: 10rem;
  z-index: 3;
}
.join-us a {
  color: #21252C;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  letter-spacing: -0.03em;
  line-height: 1.8em;
  text-decoration: none;
}
@media screen and (min-width: 50rem) {
  .right-backgorund {
    width: 30rem;
  }
  .left-background {
    margin-left: 30%;
    width: 70%;
  }
  .image-company {
    left: 16rem;
    top: 12rem;
  }
  .image-company img {
    width: 32rem;
  }
  .text-company {
    margin-left: 9rem;
    top: 10rem;
    width: 34rem;
  }
  .text-company h1 {
    border-width: 5px;
    font-size: 4.7rem;
    margin: .5rem 5rem 2rem 1rem;
    padding: .5rem 0;
  }
  .text-company p {
    font-size: .9rem;
    margin-left: 1rem;
    margin-right: 13rem;
    padding-bottom: 2rem;
  }
  .join-us {
    display: none;
  }
}
