.logo-animation {
  background-color: yellow;
  height: 7rem;
  position: relative;
  top: 9rem;
  width: 100%;
}
.left-academy {
  position: relative;
  height: 18rem;
  margin-bottom: 2rem;
  top: 10rem;
}
.left-academy p {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  padding: 0 5rem 1rem 3rem;
  position: relative;
}
.right-academy {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}
.right-academy p {
  color: #21252C;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  line-height: 2em;
  margin-bottom: .5rem;
  padding: 1.5rem 3rem 0 3rem;
}
.our-academy .blue-button {
  align-items: center;
  background-color: #21252C;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 8rem;
  justify-content: center;
  right: 10rem;
  margin: 0 0 1.5rem 22rem;
  width: 8rem;
  z-index: 3;
}
.blue-button a {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: -0.03em;
  line-height: 1.8em;
  text-decoration: none;
}
.our-academy .join-us {
  display: none;
}
@media screen and (min-width: 70rem) {
  .logo-animation {
    height: 5rem;
    top: 5rem;
  }
  .our-academy main {
    background: #FFF;
    display: flex;
    height: 80%;
    margin-top: 5rem;
  }
  .left-academy {
    background-color: #21252C;
    height: 50rem;
    margin-left: 3rem;
    position: static;
    width: 25rem;
  }
  .left-academy p {
    color: #D0D3D4;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
    padding: 0 5rem 0 1.5rem;
    top: 5rem;
  }
  .right-academy {
    display: block;
    width: 50%;
  }
  .right-academy p {
    font-size: .8em;
    margin-top: 15rem;
    padding-right: 15rem;
  }
  .our-academy .blue-button {
    display: none;
  }
  .our-academy .join-us {
    display: flex;
    height: 6rem;
    left: 19rem;
    top: 29rem;
    width: 6rem;
  }
  .our-academy .join-us a {
    font-size: 1rem;
    font-weight: 600;
  }
}
