html, body {
  background-color: #21252C;
  height: 100%;
  margin: 0;
  overflow y: scroll;
  padding: 0;
  scroll-snap-type: y mandatory;
  width: 100%;
}
section {
  height: 100%;
  scroll-snap-align: center;
  width: 100%;
  position: relative;
}
* {
  box-sizing: border-box;
}
html {
  font-size: calc(.5em + 1vw);
}
body * + * {
  padding: 0;
}
header,
footer,
section {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFF;
  color: rgba(0, 0, 0, .9);
}
.background {
  height: 100%;
  display: grid;
  background-color: #292D33;
  grid-auto-rows: 100%;
  grid-gap: 3px;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 1;
}
.background > div {
  background-color: #21252C;
  position: relative;
}
.desktop-background-div {
  display: none;
}
@media screen and (min-width: 50rem) {
  .background {
    grid-template-columns: auto auto auto auto auto auto;
  }
  .desktop-background-div {
    display: block;
  }
  .menu-fixed {
    box-shadow: 0 4px 3px rgba(0,0,0,.5);
    position: fixed!important;
    top: 0;
    z-index: 1000;
  }
}
