html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}
.bg {
  background-color: #21252C;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: auto;
}
#mid {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bg > div {
  width: 25%;
  height: 100%;
  border-left: 4px solid #292D33;
  border-right: 4px solid #292D33;
  display: flex;
  justify-content: center;
}
/*.bg > div a {
  padding-top: 3rem;
  position: sticky;
}*/
header {
  position: fixed;
  z-index: 2;
  padding-top: 3rem;
}
header a:first-child {
  position: absolute;
  left: 2.938rem;
}
header a:last-child {
  position: absolute;
  left: 26.188rem;
}

.button {
  width: 8.25rem;
  height: 8.25rem;
  background-color: #FFF;
  position: absolute;
  bottom: 20%;/*top: 39.75rem;calculo sin usar figma*/
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button p {
  font-family: 'Cabin';
  font-size: 1.500em;
  line-height: 1.833em;
  letter-spacing: -0.025em;
  color: #21252C;
}
.text, services-text {
  z-index: 1;
}
.text p {
  font-family: 'Cabin', sans-serif;
  color: #FFF;
  font-weight: 500;
  font-size: 5.000em;
  line-height: 1.212em;
}
.services-text p {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 6.250em;
  color: #FFF;
}
@media screen and (min-width: 1024px) {
  #mid {
    width: 25%;
  }

}
